
*{
    box-sizing: border-box;
}
/* couleurs  */
:root{
    --bleu-f:#1A2B3B;
    --blanc-sale:#A5AAAF;
    --bleu-sale:rgba(131, 161, 199, 1);
    --blanc-c:#ffff;
}
/* la mage entière */
.milieu{
    margin: 100px auto;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--blanc-sale);
    display: flex;

}
/*la partie gauche*/
.gauche{
background-color: var(--bleu-f);
width: 32%;
height: 100%;
padding: 15px;
}
/*la partie droite*/
.droite{
padding: 15px;
background-color: #f5f0f0;
width: 68%;
height: 100%;

}
/* ajouté l'image du cv */
section img{
    margin-left: 1px ;
    width: 185px;
    height: 194px;
    border: 5px solid var(--bleu-f);
    border-radius: 160px;
    /* background-clip: padding-box var(--blanc-sale); */


}
/* la mises en forme du cercle de l'image */
.cercle{
    overflow: hidden;
    width: 190px;
    height: 199px;
    border: 3px solid var(--blanc-sale);
    border-radius: 100px;
    margin-left: 8px;  
}
/* l'ecriture du Niveau1 profil */
.Niveau1{
    color: var(--bleu-sale);
    
}
/* pour rapproché le trait du profil */
.Niveau1 p{
    margin: 0px 0px 0px 0px;
}
/* le trait qui en dessous de l'ecriture PROFIL */
.trait{
    border: 1px solid;
    border-color: var(--bleu-sale);
    width: 90%;
   }
   /* la marge haut de l'ecriture mobile et le numero qui est ladessou */

.titre{
    color: var(--bleu-sale);
    margin-bottom: 0px;
}
.sous-titre{
    color: var(--bleu-sale);
    margin-top: 5px;
}

/* la marge haut de l'écriture email est l'adresse mail dessou */

/* écriture  Niveau2 COMPETENCE */
.Niveau2 p{
    margin: 0px 0px 0px 0px;
    color: var(--bleu-sale);
}
/* trait sous competence */
.trait{
    border: 1px solid var(--bleu-sale);
    border-color: var(--bleu-sale);
    width: 90%;
   }
   /* ecriture Pack Microsoft Office 360 et les autres */
   .PCM-360{
margin-top: 10px;
color: var(--blanc-c);
   }
   /* leurs trait d'efficacité */
.efficaciter1{
    margin-top: 0px;
    width: 80%;
    border: 0px solid var(--blanc-c);
    border-radius: 3px;
    background: var(--blanc-c);
}
.progression1{
    width: 70%;
    background-color: var(--bleu-sale);
    border-radius: 3px;
    border: 1px solid var(--bleu-sale);
}
/* Niveau3 language */
.Niveau3 p{
    margin: 15px 0px 0px 0px;
    color: var(--bleu-sale);
}
.trait{
    border: 1px solid var(--bleu-sale);
    border-color: var(--bleu-sale);
    width: 90%;
}
.titre-degre{
    text-transform: uppercase;
    color: #fff;
}
/* partie Droite */
h3{
    color: black;
    font-weight: bold;
}
.slash{
    color: rgb(247, 242, 242);
    margin-right: 5px;
    font-size: large;
    text-transform: uppercase;

}
.slash-nom{
    display: flex;
}
/* trait sur experience */
.DtraitNiv1{
    border: 1px solid;
    border-color: #443f3f;
    width: 90%;
    border-radius: 0px 3px 3px 0px;
    margin-bottom: 10px;
}
/* slash */ 
#dsd{

}
.Nom{
    display: flex;
    justify-content: flex-start;
    color: var(--bleu-f);
    font-weight: bold;
}
.ligne{
    display: flex;
    
}
.ligne .date{
    width: 50%;
}
.ligne .titre1{
    width: 50%;
}
.titre1 h4{
    margin: 0px;
    color: var(--bleu-sale)
}
.titre1{
    border-left: 2px solid;
    padding-left: 9px;
    position: relative;
    padding-bottom: 20px;
}
.titre1::before{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -8px;
    border-radius: 50%;
    background-color: #000;
}
.icon{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 68px;
}
.icon img {
    height: 30px;
}

.icon p {
    margin-top: 0px;
}