
*{
    box-sizing: border-box;
}
/* couleurs  */
:root{
    --bleu-f:#1A2B3B;
    --blanc-sale:#A5AAAF;
    --bleu-sale:rgba(131, 161, 199, 1);
    --blanc-c:#ffff;
}
/* la mage entière */
.milieu{
    margin: 100px auto;
    height: 900px;
    width: 800px;
    background-color: var(--blanc-sale);

}
/*la partie gauche*/
.gauche{
background-color: var(--bleu-f);
width: 250px;
height: 100%;
float: left;
padding: 15px;
}
/*la partie droite*/
.droite{
padding: 15px;
background-color: var(--blanc-sale);
width: 68%;
height: 100%;
float: left;
}
/* ajouté l'image du cv */
section img{
    margin-left: 1px ;
    width: 185px;
    height: 194px;
    border: 5px solid var(--bleu-f);
    border-radius: 160px;


}
/* la mises en forme du cercle de l'image */
.cercle{
    overflow: hidden;
    width: 190px;
    height: 199px;
    border: 3px solid var(--blanc-sale);
    border-radius: 100px;
    margin-left: 8px;  
}
/* l'ecriture du Niveau1 profil */
.Niveau1{
    color: var(--bleu-sale);
    
}
/* pour rapproché le trait du profil */
.Niveau1 p{
    margin: 0px 0px 0px 0px;
}
/* le trait qui en dessous de l'ecriture PROFIL */
.trait{
    border: 1px solid;
    border-color: var(--bleu-sale);
    width: 90%;
   }
   /* la marge haut de l'ecriture mobile et le numero qui est ladessou */

.titre{
    color: var(--bleu-sale);
    margin-bottom: 0px;
}
.sous-titre{
    color: var(--bleu-sale);
    margin-top: 5px;
}

/* la marge haut de l'écriture email est l'adresse mail dessou */

/* écriture  Niveau2 COMPETENCE */
.Niveau2 p{
    margin: 0px 0px 0px 0px;
    color: var(--bleu-sale);
}
/* trait sous competence */
.trait{
    border: 1px solid var(--bleu-sale);
    border-color: var(--bleu-sale);
    width: 90%;
   }
   /* ecriture Pack Microsoft Office 360 et les autres */
   .PCM-360{
margin-top: 10px;
color: var(--blanc-c);
   }
   /* leurs trait d'efficacité */
.efficaciter1{
    margin-top: 0px;
    width: 80%;
    border: 0px solid var(--blanc-c);
    border-radius: 3px;
    background: var(--blanc-c);
}
.progression1{
    width: 60%;
    background-color: var(--bleu-sale);
    border-radius: 3px;
    border: 1px solid var(--bleu-sale);
}
/* Niveau3 language */
.Niveau3 p{
    margin: 15px 0px 0px 0px;
    color: var(--bleu-sale);
}
.trait{
    border: 1px solid var(--bleu-sale);
    border-color: var(--bleu-sale);
    width: 90%;
}
.titre-degre{
    text-transform: uppercase;
    color: #fff;
}
/* partie Droite */
h3{
    color: black;
    font-weight: bold;
}
.DNiv1-slah{
    color: black
}
/* trait sur experience */
.DtraitNiv1{
    border: 2px solid;
    border-color: var(--blanc-c);
    width: 90%;
    border-radius: 0px 3px 3px 0px;
}
/* slash */
.DNiv-slash {
    display: flex;
    justify-content: flex-start;
    color: var(--bleu-f);
    font-weight: bold;

}
/* année d'experience et le poste */
.lingne1{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    height: 20px;

}
/* le poin et le trait en premiere position */
.point-trait1{
    margin-right: 10px;
    height: 80px;
}
.date1{
    margin-right: 30%;
}
/* le point NOir */
.point1{
    width: 15px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
}
/* trait noir sur */
.trait91{
    width: 2px;
    height: 100%;
    background-color: black;
    margin: auto;
}
/* année d'experience et le poste */
.lingne1{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    height: 20px;
    margin-bottom: 70px;

}
/* le poin et le trait en deuxieme position */
.lingne2{
    
    display: flex;
    justify-content: flex-start;
    height: 30px;
}

.point-trait2{
    margin-right: 10px;
    height: 80px;
}
.date2{
    margin-right: 30%;
}
/* le point NOir */
.point2{
    width: 15px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
}
/* trait noir sous le poin noir*/
.trait92{
    width: 2px;
    height: 100%;
    background-color: black;
    margin: auto;
}
.lingne3{
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    height: 20px;

}
.date3{
    margin-right: 33.3%;

}
.point3{
    width: 15px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    padding-right: 10px;
    margin-top: px;
}
.Gtitre3{
    padding-left: 10px;
}
.DtraitNiv2{
    border: 2px solid;
    border-color: var(--blanc-c);
    width: 90%;
    border-radius: 0px 3px 3px 0px;
}
/* slash */
.DNiv2-slash {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    color: var(--bleu-f);
    font-weight: bold;

}
.date32{
    margin-right: 30%;
}
.DNiv3-slash{
    margin-top: 90px;
    display: flex;
    justify-content: flex-start;
    color: var(--bleu-f);
    font-weight: bold;
}
.DtraitNiv3{
    border: 2px solid;
    border-color: var(--blanc-c);
    width: 90%;
    border-radius: 0px 3px 3px 0px;
}
.icon{
    display: flex;
    height: 30px;
    width: 80%;
    margin-top: 30px;
    margin-right: 30px;
    justify-content: space-between;
    text-align: center;
}
.icon img {
    height: 30px;
}

.icon p {
    margin-top: 0px;
}